<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3 m-t-80">
      <h1 class="title text-center text-warning">Welcome to BingeFlex</h1>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">What would you like to do?</h2>
          <div class="row text-center">
            <div class="col-12">
              <button type="submit" class="btn login mt-5 " (click)="login()">Login</button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 text-center">
              <hr class="left">
              <span class="text-center text">OR</span>
              <hr class="right">
            </div>
          </div>
          <div class="join-row text-center">
            <div class="col-12">
              <button type="submit" class="btn join mt-3" (click)="signup()">Join</button>
            </div>
          </div>
        </div>
      </div>
      <div class="footerMain">
        <div class="PoweredSection">
          <strong><a class="PoweredBy">Patent Pending <i class="fa fa-check-circle"></i><br></a></strong>
        </div>
      </div>
    </div>
  </div>
</div>
